.footer {
  padding: 25px 10px;
  text-align: center;
  background: var(--bg);
  border-top: 1px solid #ccc;
  color: var(--text);
  font-size: 0.9rem;
  margin-top: 60px;
}

body.dark .footer {
  border-color: #444;
}
